* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    min-height: 100%;
}
ul {
    margin: 0;
    padding: 0;
}
ul>li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1330px;
    margin-left: 110px ;
}

.hero {
    background-image: url(../img/index-background-desktop.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding-bottom: 54px;
}
.header {
    display: flex;
}
.logo__img-wrap {
  margin-top: 53px;
  
}
.logo {
}
.nav {
    margin-top: 71px;
}
.nav__list {
    display: flex;
    margin-left: 600px;
}
.nav__list:nth-child(2) {
    margin-right: 32px;
}
.nav__list:last-child {
    margin-right: 0; 
}
.nav__item {
    margin-right: 37px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}
.nav__link {
    color: white;
}
.hero__content {
    display: flex;
}
.hero__info {
    margin-left: 81px;
    margin-top: 111px;
}
.hero__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 40px;
}
.hero__text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 52px;
}
.btn {
    flex-direction: row;
    align-items: center;
    padding: 23px 27px;
    gap: 4px;
    background: #68B738;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
}
.hero__decor {
    margin-top: 29px;
}
.hero__img-wrap {
}
.hero__img {
}

.fit {
    padding-top: 82px;
    padding-bottom: 71px;
}
.fit__content {
}
.fit__info {
}
.fit__nav {
}
.fit__nav-list {
    display: flex;
    justify-content: space-between;
}
.fit__nav-list:last-child {
 
}
.fit__nav-item {
    background-color: #F2F2F2;
    padding: 40px 50px 55px 50px;
}
.fit__nav-item:last-child {
    margin-right: 0px;
}
.fit__title {
    display: flex;
    margin-bottom: 39px;
}
.fit__img-wrap {
}
.fit__img {
}
.fit__title-title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 62px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.fit__title-title2 {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 47px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.fit__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 23px;
}
.btn-sec2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0px;
    gap: 28px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
}
.fit__btn-img {
}
